package {{{configPackage}}};

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import {{{controllerPackage}}}.{{{wsdlServiceName}}}ServiceController;


@Configuration
public class ApplicationConfiguration {

	@Bean
	public {{{wsdlServiceName}}}ServiceController {{{portTypeName}}}Controller() {
		return new {{{wsdlServiceName}}}ServiceController();
	}
}