<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.4.5</version>
		<relativePath/> <!-- lookup parent from repository -->
	</parent>
	<groupId>{{{groupId}}}</groupId>
	<artifactId>{{{serviceName}}}</artifactId>
	<version>{{{artifactVersion}}}</version>
	<name>{{{serviceName}}}</name>
	<description>Sample cxf spring boot soap service</description>
	<properties>
		<java.version>1.8</java.version>
	</properties>
	 <dependencies>
        <dependency>
            <groupId>de.codecentric</groupId>
            <artifactId>cxf-spring-boot-starter</artifactId>
            <version>2.4.1</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
       
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<scope>test</scope>
		</dependency>
    </dependencies>

	<build>
        <plugins>
            <!--<plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>de.codecentric</groupId>
                <artifactId>cxf-spring-boot-starter-maven-plugin</artifactId>
                <version>2.3.0.RELEASE</version>
                <executions>
                    <execution>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>-->
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
			<!-- Generate Java-Classes inkl. JAXB-Bindings from WSDL & imported XSD -->
			<!-- See Doku at http://www.mojohaus.org/jaxws-maven-plugin/usage.html -->
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>jaxws-maven-plugin</artifactId>
				<version>2.4.1</version>
				<configuration>
					<!-- See http://www.mojohaus.org/jaxws-maven-plugin/wsimport-mojo.html -->
					<wsdlDirectory>${project.basedir}/src/main/resources/wsdl</wsdlDirectory>
					<sourceDestDir>target/generated-sources/wsdlimport/{{{serviceName}}}</sourceDestDir>
					<!-- For accessing the imported schema, see https://netbeans.org/bugzilla/show_bug.cgi?id=241570 -->
					<vmArgs>
						<vmArg>-Djavax.xml.accessExternalSchema=all</vmArg>
					</vmArgs>
							<bindingFiles>
								<bindingFile>${project.basedir}/src/main/resources/binding.xml</bindingFile>
								
							</bindingFiles>
				</configuration>
				<executions>
					<execution>
						<goals>
							<goal>wsimport</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
            <!-- Skip sample project in Maven release https://stackoverflow.com/a/14297315/4964553 -->
            <plugin>
                <artifactId>maven-deploy-plugin</artifactId>
                <configuration>
                    <skip>true</skip>
                </configuration>
            </plugin>
        </plugins>
    </build>
</project>
