package com.prokarma.soapi.endpoint;

/**
 * 
 * @author pkcoe
 *
 */
public class {{{endpointName}}}Endpoint implements {{{endpointName}}} {

/**
 * please implement following operations {{{opName}}}
 * 
 *
 */	

}