package {{{basePackage}}}.endpoint;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;

import {{{basePackage}}}.controller.{{{portType}}}Controller;
import {{{packageNameFromNamespace}}}.{{{faultName}}};
import {{{packageNameFromNamespace}}}.{{{portType}}};

public class {{{portType}}}Endpoint implements {{{portType}}} {

    private static final Logger LOG = LoggerFactory.getLogger({{{portType}}}Endpoint.class);

    @Autowired
    private {{{portType}}}Controller {{{portTypeName}}}Controller;
    
    {{#each opName}}
    @Override
    public <<return type>> {{this}}(<<input type>>) throws {{{faultName}}} {
        LOG.debug("Method {{this}}() was called. Processing the Request in the backend");

        return {{{portTypeName}}}Controller.{{this}}(<<input type>>);
    }
    
   {{/each}}

}

}