package {{{basePackage}}}.test;

import static {{{basePackage}}}.utils.TestHelper.generateDummyRequest;
import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertNotNull;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.SpringApplicationConfiguration;
import org.springframework.boot.test.WebIntegrationTest;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;

import {{{basePackage}}}.SimpleBootCxfSystemTestApplication;
import {{{packageNameFromNamespace}}}.{{{faultName}}};
import {{{packageNameFromNamespace}}}.{{{portType}}};

@RunWith(SpringJUnit4ClassRunner.class)
@SpringApplicationConfiguration(classes=SimpleBootCxfSystemTestApplication.class)
@WebIntegrationTest("server.port:8090")
public class {{{portType}}}SystemTest {

    @Autowired
    private {{{portType}}} {{{portTypeName}}}SystemTestClient;
    
   {{#each wsdlproperties}}
    @Test
    public void {{#firstLetterSmallop}}{{operationName}}{{/firstLetterSmallop}}() throws {{{faultName}}} {
        // Given
         {{inputParam}} {{#firstLetterSmallInput}}{{inputParam}}{{/firstLetterSmallInput}} = generateDummyRequest();
        
        // When
       // {{returnType}} {{#firstLetterSmallReturn}}{{returnType}}{{/firstLetterSmallReturn}} = {{{portTypeName}}}TestClient.{{#firstLetterSmallop}}{{operationName}}{{/firstLetterSmallop}}({{#firstLetterSmallInput}}{{inputParam}}{{/firstLetterSmallInput}});
        
        // Then
       // assertNotNull({{#firstLetterSmallReturn}}{{returnType}}{{/firstLetterSmallReturn}});
    }
   
{{/each}}
}
