package {{basePackage}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

/**
 * starts the spring boot application
 * @author pkdigitalengineering
 *
 */
 
@SpringBootApplication
@ComponentScan("{{{basePackage}}}")
public class {{serviceName}}Application {

  public static void main(String[] args) {
    SpringApplication.run({{serviceName}}Application.class, args);
  }
}